<div class="container-fluid">
	<div class="row-fluid bottom-buffer">
		<div class="col-md-3">
		<img src='<%= @profile.profile_picture %>' height="300px"></img>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<h1 class="text-center"><%= @profile.name %></h1>
			<p><%= @profile.job_title %><p>
			<p><%= @profile.location %></p> 
			<p><%= @profile.email %></p> 
			<p><%= @profile.contact_info %></p> 
		</div>
	</div>
</div>